<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.AnnotationTransformer"/>
    </listeners>
 
    <test name="LoginTest">
        <classes>
            <class name="pages.BasePage"/>
            <class name="pages.LoginPage"/>
            <class name="pages.HomePage"/>
        </classes>
    </test>
</suite>

